section.contact {
  height: 86vh;
  width: 100%;
  margin: 7vh 0 0;

  display: flex;
  flex-direction: row;
}

form#contact-form {
  flex-basis: 50%;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

form#contact-form p {
  font-size: 40px;
  font-weight: 600;
}

form#contact-form input {
  font-family: "Source Sans Pro", sans-serif;
  width: 60%;
  height: 5%;
  font-size: 20px;
  padding: 5px 5px 0;
  border: none;
  border-bottom: 1px solid black;
}

form#contact-form input:focus {
  outline: none;
}

form#contact-form textarea {
  width: 60%;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 5px;
}

form#contact-form button {
  width: 60%;
  background-color: black;
  color: white;
  height: 5%;
  border: 2px white solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  transition: 0.4s;
}

form#contact-form button:hover {
  cursor: pointer;
  background-color: white;
  border: black 2px solid;
  color: black;
}

div#contact-data {
  flex-basis: 50%;
  background-color: #777;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div#contact-data div.map {
  /* border: lightgray 4px solid; */
}

div#contact-data div.contact-list div {
  color: white;
  padding: 5px;
  font-size: 24px;
}
div#contact-data div.contact-list div i {
  padding-right: 12px;
}

div#contact-data div.opening-hours {
  text-align: center;
}
div#contact-data div.opening-hours p {
  text-align: center;
}
