section.contact {
  height: 86vh;
  width: 100%;
  margin: 7vh 0 0;

  display: flex;
  flex-direction: row;
}

form#contact-form {
  flex-basis: 50%;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

form#contact-form p {
  font-size: 5.5vh;
  font-weight: 300;
  letter-spacing: 1px;
}

form#contact-form input {
  font-family: "Source Sans Pro", sans-serif;
  width: 60%;
  height: 5%;
  font-size: 20px;
  padding: 5px 5px 0;
  border: none;
  border-bottom: 1px solid black;
}

form#contact-form input:focus {
  outline: none;
}

form#contact-form textarea {
  width: 60%;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 5px;
}

form#contact-form button {
  width: 60%;
  background-color: white;
  color: black;
  border: 1px black solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3vh;
  padding: 0.5vh 0;
  transition: 0.1s;
}

form#contact-form button:hover {
  cursor: pointer;
  border: red 1px solid;
  color: red;
}

div#contact-data {
  flex-basis: 50%;
  background-color: rgb(247, 247, 247);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div#contact-data div.contact-list div {
  color: black;
  padding: 0.75vh;
  font-size: 3vh;
  font-weight: 300;
}

div#contact-data div.contact-list div i {
  margin-right: 12px;
}

div#contact-data div.opening-hours {
  text-align: center;
  font-weight: 300;
  font-size: 2.5vh;
}

div#contact-data div.opening-hours h3 {
  font-weight: normal;
  border-bottom: 1px black solid;
  margin-bottom: 1vh;
}

div#contact-data div.opening-hours p {
  text-align: center;
}
