footer {
  position: absolute;
  bottom: -7vh;
  left: 0;
  z-index: 2;
  height: 7vh;
  width: 100%;
  background-color: var(--navAndFooterBgc);
  color: var(--navAndFooterColor);
  text-align: center;
}

footer p {
  margin: 0;
  padding: 0;
  line-height: 7vh;
  font-weight: 300;
}

footer p a {
  font-weight: 400;
  color: var(--navAndFooterColor);
  text-decoration: none;
  transition: 0.2s;
}

footer p a:hover {
  color: skyblue;
}
