header {
  position: fixed;
  top: 7vh;
  left: 0;
  z-index: -1;

  height: 60vh;
  width: 100%;
  background-image: url(../img/header1.jpg);
  background-size: 100%;
  /* background-position: center; */
  text-align: center;
  color: white;
  filter: brightness(1.2);
  animation: closeup 30s forwards linear;
}

@keyframes closeup {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}

header h1 {
  margin-top: 12vh;
  font-size: 12vh;
  text-shadow: 2px 2px gray;
  font-weight: 400;
  /* text-transform: uppercase; */
}
header h2 {
  font-size: 6vh;
  text-shadow: 2px 2px gray;
  font-weight: 300;
  text-transform: uppercase;
}
